{% extends base_twig %}
{% block mission %}{% endblock %} 
{% block features %}{% endblock features %}
{% block articles %}{% endblock articles %}
{% block postcontent %}
{% block content %}
<div class="col-md-12 text-center">
    <h1>
        Hey... You broke our site!
    </h1>
   <p class="lead">Just kidding it's probably our fault. <br/> Sorry, we couldn't find what you're looking for.</p>
</div>
{% endblock content %}
{% endblock postcontent %}