
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="post">
                    <figure>
                        <img src="http://loremflickr.com/g/1120/460/technology" alt="images" class="img-responsive"/>

                    </figure>
                    <h1>Lorem ipsum dolor sit.</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur assumenda
                        consequuntur debitis dolor ducimus facilis id iste magnam nam nemo, nihil nostrum odit optio
                        perspiciatis sunt voluptas voluptatem. A assumenda doloremque facere in modi molestias
                        mollitia nam nisi saepe vitae. Accusamus adipisci, commodi doloremque eaque explicabo, ipsa
                        laboriosam, nesciunt nulla officiis porro praesentium rerum sequi soluta vel velit vero.</p>

                    <p>Delectus facere fugit in ipsum laboriosam natus officiis perspiciatis quam sint soluta?
                        Distinctio dolores earum ex magni necessitatibus obcaecati officiis omnis porro repudiandae!
                        Adipisci asperiores autem culpa deserunt dignissimos distinctio dolor eos et fuga labore,
                        nisi non nulla optio quam quisquam quod soluta. Assumenda delectus ea enim, iste itaque
                        molestias, odit perspiciatis quod ratione reiciendis similique, sit veniam vitae
                        voluptates.</p>

                    <p>Aut consequatur consequuntur cupiditate deserunt dolorem eius ipsum iusto magnam, maiores
                        perferendis porro quidem! Aperiam blanditiis dolorum ea expedita sequi. Assumenda, atque
                        deleniti dolore earum fugiat laborum maiores neque! Adipisci architecto dicta dignissimos ea
                        facere illum, inventore nemo neque nobis quis rerum tenetur, ullam unde! A adipisci, aliquid
                        aut consequatur deleniti dolore magnam mollitia natus nulla perferendis, possimus sit
                        vero?</p>

                    <p>Quaerat, veniam, veritatis. Accusamus adipisci animi aut delectus est eveniet fugiat impedit
                        in ipsum laboriosam laudantium molestias nam neque nesciunt nisi, nobis non nostrum
                        obcaecati possimus quam quidem quo sed ut veniam voluptates voluptatibus voluptatum? Aliquam
                        at cumque harum illo praesentium, quod! Cum fugit maiores nulla quibusdam suscipit! Amet
                        ducimus error laudantium magnam nisi officia omnis quia quos sint vel?</p>

                    <aside class="author">
                        <div class="row">
                            <div class="col-sm-2 col-md-1">
                                <div class="avatar">

                                </div>
                            </div>
                            <div class="col-sm-10 col-md-11">
                                <p>Author: John Hancok</p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam
                                    necessitatibus porro quibusdam
                                    recusandae? Doloremque et minima quidem? Aliquam, animi assumenda corporis doloribus
                                    ducimus ea illo
                                    natus nemo ullam ut.
                                </p>
                            </div>
                        </div>
                    </aside>

                </article>
            </div>
        </div>
    </div>
    
</section>